html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-layout {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #363a45;
  height: 100vh;
  margin-right: 15px;
  overflow-y: scroll;
  text-align: center;
  width: 250px;
}
nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all .3s ease-out;
}





.productCard {
  background-color: white;
  border-radius: 15px;
  color: black;
  padding-bottom: 5px;
  width: 250px;
  margin-right: 5px;
  margin-top: 5px;
}

.productImg {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.productDescription {
  margin: 10px;
}

.buttonsContainer {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.buttonMinus {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  width: 30px;
}

.buttonMinus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 16px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  width: 30px;
}

.buttonAdd {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  width: 30px;
}

.buttonAdd:hover {
  background-color: rgba(0, 0, 0, 0.1);
}